@model Application.Customers.Queries.GetCustomer.CustomerViewModel

@{
    Layout = null;
}

<div class="card">
        <div class="card-body">
            <div class="e-profile">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" class="active nav-link">Info</a>
                    </li>
                </ul>
                <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Givenname"></label>
                                                    <input class="form-control" asp-for="Customer.Givenname" disabled>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Surname"></label>
                                                    <input class="form-control" asp-for="Customer.Surname" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Emailaddress"></label>
                                                    <input class="form-control" asp-for="Customer.Emailaddress" type="email" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Telephonecountrycode"></label>
                                                    <input class="form-control" asp-for="Customer.Telephonecountrycode" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Telephonenumber"></label>
                                                    <input class="form-control" asp-for="Customer.Telephonenumber" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Streetaddress"></label>
                                                            <input class="form-control" asp-for="Customer.Streetaddress" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Zipcode"></label>
                                                            <input class="form-control" asp-for="Customer.Zipcode" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Country"></label>
                                                            <input class="form-control" asp-for="Customer.Country" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <partial name="Components/CustomerDetail/_CustomerAccounts"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>