@using Domain.Enums
@model Application.Transactions.Commands.CreateTransaction.CreateTransactionCommand

<form asp-controller="Transactions" asp-action="CreateTransaction" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="AccountId" hidden/>

    <div class="row">
        <div class="form-group">
            <label asp-for="Operation"></label>
            <select class="form-control"
                    asp-for="Operation"
                    asp-items="OperationTypes.Operations.Select(o=>new SelectListItem(o,o)).ToList()"
                    >
                <option disabled>Select operation</option>
            </select>
            <span asp-validation-for="Operation"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Symbol"></label>
            <select class="form-control"
                    asp-for="Symbol"
                    asp-items="SymbolType.Symbols.Select(s=>new SelectListItem(s,s)).ToList()"
            >
                <option disabled selected value="">Select symbol</option>
            </select>
            <span asp-validation-for="Symbol"></span>
        </div>
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>