@model StatisticsCardViewModel

@{
    Layout = null;
}

<div class="card m-3" style="background-color: var(@($"--{Model.Color}")); color: #FFF;">
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-sm-8">
                <i class="@Model.FaIcon fa-lg" style="height: 100%"></i>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <h4 class="text-right">@Model.DisplayTitle</h4>
                </div>
                <div class="row">
                    <span class="text-right">@Model.DisplayText</span>
                </div>
            </div>
        </div>
    </div>
</div>