@model IndexViewModel


<h1 class="mt-4">Dashboard</h1>
@await Component.InvokeAsync("ApplicationStatistics").ConfigureAwait(false)
@await Component.InvokeAsync("StatisticsCountries").ConfigureAwait(false)
<partial name="_CustomerTable" />
