@using Application.Search.Query
@using Domain.Enums
@using Domain.SearchModels
@model IndexViewModel


<h1 class="mt-4">Dashboard</h1>
@await Component.InvokeAsync("ApplicationStatistics").ConfigureAwait(false)
@await Component.InvokeAsync("StatisticsCountries").ConfigureAwait(false)
<partial name="_CreateCustomer" model="@Model.CreateCustomerViewModel"/>
@await Component.InvokeAsync("CustomerTable",new
{
    query = new SearchQuery
    {
        Page = 1, 
        Search = new SearchData
        {
            SearchText = ""
        },
        OrderByField = "",
        OrderByType = OrderByType.None
    }
}).ConfigureAwait(false)
